:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #213547;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* RESET important */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* L’APP PEUT PRENDRE TOUTE LA HAUTEUR */

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* On enlève le centrage de Vite */

body {
    display: block;
    /* clé du problème */
    min-width: 320px;
    background-color: #ffffff;
}


/* On enlève l'effet bleu */

button:focus,
button:focus-visible {
    outline: none;
    box-shadow: none;
}